
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend balancer
  bind 0.0.0.0:9090
  mode http
  default_backend otp_services

backend otp_services
  mode http
  option forwardfor
  balance roundrobin
  server otp_service_1 otp_service_1:8080 check
  server otp_service_2 otp_service_2:8080 check
  server otp_service_3 otp_service_3:8080 check
  server otp_service_4 otp_service_4:8080 check
  server otp_service_5 otp_service_5:8080 check
  server otp_service_6 otp_service_6:8080 check


